@model LoginViewModel

@{
	ViewBag.Title = "User Login";
}

<div class="login-body">
	<div class="login-main">
		<input type="checkbox" id="chk" aria-hidden="true">

		@await Html.PartialAsync("Register.cshtml", new RegisterViewModel())
		
		<div class="login">
			<form method="post">
				<input type="hidden" asp-for="ReturnUrl" />
				<div asp-validation-summary="All" class="text-danger"></div>

				<label class="login-label" for="chk" aria-hidden="true">Login</label>
				<input asp-for="Email" type="email" name="email" placeholder="Email" required="" class="login-input">
				<span asp-validation-for="Email" class="text-danger"></span>

				<input asp-for="Password" type="password" name="pswd" placeholder="Password" required="" class="login-input">
				<span asp-validation-for="Password" class="text-danger"></span>

				<div class="checkbox">
					<label class="login-label-sm" asp-for="RememberMe">
						<input asp-for="RememberMe" />
						@Html.DisplayNameFor(m => m.RememberMe)
					</label>
				</div>

				<button type="submit" class="login-button">Login</button>

			</form>

			@*//External Login FB-Google Step 3*@
			<form asp-controller="Auth" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" target="login-popup" onsubmit="invokeLogin();">
				@if (Model.ExternalProviders != null)
				{
					@foreach (var provider in Model.ExternalProviders)
					{
						<button name="provider" type="submit" value="@provider.Name" class="login-button" onmouseover="StartGlowing(this)">
							<img width="20px" style={{ marginBottom: "3px" , marginRight: "5px" }} alt="Google sign-in"
						 src="../../images/GoogleLogo.svg.png" />
							Login with @provider.Name
						</button>
					}
				}

			</form>

			<script type="text/javascript">
				function invokeLogin() {
					var chrome = 100;
					var width = 500;
					var height = 500;
					var left = (screen.width - width) / 2;
					var top = (screen.height - height - chrome) / 2;
					var options = "status=0,toolbar=0,location=1,resizable=1,scrollbars=1,left=" + left + ",top=" + top + ",width=" + width + ",height=" + height;
					window.open("about:blank", "login-popup", options);
				}

				function loginCallback(success, returnUrl) {
					if (returnUrl) {
						//before loading home page of booksbay project (home index) should finish animation current login view, so:
						setTimeout(() => {
							// far scomparire login form e poi play
							$('#main').addClass("hide-fade-out");
							//slower video speed (the speed is half of default which is 1 )
							$('#blenderVideoContainer video')[0].playbackRate = 0.5;

							$('#blenderVideoContainer video')[0].play();

							setTimeout(() => {

								$('#blenderVideoContainer video')[0].pause();
								//showing RenderBody of layout cshtml login form
								window.location.href = returnUrl;



							}, 3200);


						}, 2000);
						
					} else {
						console.log("unhandled redirect after externalLoginCallBack (auth controller)");
					}
    }
			</script>


		</div>


	</div>


</div>
