@model RegisterViewModel

@{
	ViewBag.Title = "User Registration";
}

<div class="login-signup">
	<form method="post" asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">

		<label class="login-label" for="chk" aria-hidden="true">Sign up</label>

		<input type="hidden" asp-for="ReturnUrl" />
		<div asp-validation-summary="All" class="text-danger"></div>


		<input asp-for="Email" class="login-input" placeholder="Email" />
		<span asp-validation-for="Email" class="text-danger"></span>

		<input asp-for="Password" class="login-input" placeholder="Password" />
		<span asp-validation-for="Password" class="text-danger"></span>

		<input asp-for="ConfirmPassword" class="login-input" placeholder="ConfirmPassword" />
		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>

		<button type="submit" class="login-button">Sign Up</button>

	</form>
</div>

