@model LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}
<h1>Login</h1>
<div style="display:none;" class="login-body">
	<div class="login-main">
		<input type="checkbox" id="chk" aria-hidden="true" checked>

		<div class="login-signup">
			<form method="post">
				<label class="login-label" for="chk" aria-hidden="true">Sign up</label>
				<input class="login-input" type="text" name="txt" placeholder="User name" required="">
				<input class="login-input" type="email" name="email" placeholder="Email" required="">
				<input class="login-input" type="password" name="pswd" placeholder="Password" required="">
				<button class="login-button" >Sign up</button>
			</form>
		</div>

		<div class="login">
			<form method="post">
				<input type="hidden" asp-for="ReturnUrl" />
				<div asp-validation-summary="All" class="text-danger"></div>

				<label class="login-label" for="chk" aria-hidden="true">Login</label>
				<input asp-for="Email" type="email" name="email" placeholder="Email" required="" class="login-input">
				<span asp-validation-for="Email" class="text-danger"></span>

				<input asp-for="Password" type="password" name="pswd" placeholder="Password" required="" class="login-input">
				<span asp-validation-for="Password" class="text-danger"></span>

				<div class="checkbox">
					<label class="login-label-sm" asp-for="RememberMe">
						<input asp-for="RememberMe" />
						@Html.DisplayNameFor(m => m.RememberMe)
					</label>
				</div>

				<button type="submit" class="login-button">Login</button>

			</form>

			@*//External Login FB-Google Step 3*@
			<form asp-controller="Auth" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">			
				
						<button name="provider" type="submit" value="Google" class="login-button glowing-button">
							<img width="20px" style={{ marginBottom: "3px", marginRight: "5px" }} alt="Google sign-in"
								 src="../../images/GoogleLogo.svg.png" />
						Login with Google
						</button>
					

			</form>


		</div>


	</div>


</div>

